/* client/src/index.css */
@import 'tailwindcss';

@theme {
  /* This creates 'bg-resume-slate' used in your sidebar[cite: 1, 5] */
  --color-resume-slate: #323b4c;

  /* This defines the physical A4 paper width for 'w-a4'[cite: 1, 5] */
  --width-a4: 210mm;
  --height-a4: 297mm;

  /* Set Inter as the default sans font */
  --font-sans: 'Segoe', ui-sans-serif, system-ui;
  
}

@layer base {
  /* This ensures the sidebar color appears in the PDF */
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
